.aboutHeader {
  background-image: url(./sections/images/about-us-header.png);
  height: 28rem;
  margin-bottom: 10rem;
  background-repeat: round;
}
.whoAreWe {
  color: #161b50;
  font-weight: bold;
  font-size: 4rem;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.aboutParagraphs {
  font-size: 1.35rem;
  margin-bottom: 109px;
}

.aboutParagraphs p {
  margin-bottom: 35px;
}

.staffPic {
  width: 17.5vw;
  height: 17.5vw;
  border-radius: 100%;
}

.staffPhotoContainer {
  text-align: center;
  margin: 5rem auto 17rem auto;
  padding: 10px;
  padding-bottom: 20px;
}
