body {
  width: 100%;
}

.header {
  padding-top: 1.8rem;
  margin-bottom: 7rem;
}

.address {
  font-size: 3rem;
  font-weight: bold;
  line-height: 60px;
  font-family: "Noto Sans", Sans-serif;
  color: #3a3a3a;
}

.address h1 {
  font-size: 3.3rem;
}

.subAddress {
  font-size: 1.5rem;
  margin: 3rem 0 0.5rem;
  line-height: 2rem;
  font-family: Roboto, Sans-serif;
  color: #4e4e4e;
  font-weight: 500;
}

.textBody1 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #5c6771;
  text-align: justify;
  font-family: Roboto, Sans-serif;
  font-weight: 400;
}

.textBody2 {
  font-size: 1.125rem;
  text-align: justify;
  line-height: 1.5rem;
  color: #4e4e4e;
  font-family: Roboto, Sans-serif;
  margin-bottom: 6rem;
  margin-top: 4rem;
  font-weight: 400;
}

.textBody2 h3 {
  font-weight: bold;
  margin-bottom: 0.6rem;
  font-family: "Noto Sans", Sans-serif;
}

.textBody3 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #4e4e4e;
  text-align: justify;
  font-family: Roboto, Sans-serif;
  margin-top: 6rem;
  font-weight: 400;
}

.textBody3 h3 {
  font-weight: bold;
  margin-bottom: 0.7rem;
  color: #4e4e4e;
  font-family: "Noto Sans", Sans-serif;
}

.wholeCarousel {
  margin: 6rem auto;
  width: 70%;
}

.carousel {
  width: 100%;
  margin: 0 auto;
  box-shadow: 0px 0px 25px 0px #9797974d;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23454545' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
  margin-right: 30%;
  margin-bottom: 10%;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23454545' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  margin-left: 30%;
  margin-bottom: 10%;
}

.tableSection {
  display: flex;

  padding: 1.2rem 1.5rem 2.2rem 1.5rem;
  text-align: center;
  background-color: #135ba5;
}

@media only screen and (max-width: 800px) {
  .tableSection {
    display: flex;
    width: 60%;

    padding: 1.2rem 1.5rem 2.2rem 1.5rem;
    text-align: center;
    background-color: #135ba5;
  }
}

.tableBlueSection {
  background-color: #135ba5;

  height: 6.5rem;
  margin: 0 auto;
  padding: 1rem 0;
}

.Line2 {
  font-size: 21px;
  color: #dfdfdf;
}

.firstLineInsideTable {
  font-size: 2.8rem;
  font-family: Roboto, Sans-serif;
  color: white;
  padding: 0.5rem 0 0 0;

  display: block;
  line-height: 45px;
}

.tableGreySection1 {
  background-color: #c4c4c4;
  width: 25%;
  height: 20rem;
  padding: 2.3rem 0 2.3rem;
}

.tableGreySection2 {
  background-color: #f0f0f0;
  width: 25%;
  height: 320px;
  padding-top: 4%;
}

.textInsidetable1 {
  color: white;
  padding: 20px 20px;
  font-size: 14px;
  font-family: Roboto, Sans-serif;
}

.textInsidetable2 {
  color: #a8a8a8;
  padding: 20px 20px;
  font-size: 14px;
  font-family: Roboto, Sans-serif;
}

.socialMedia {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.socialMedia img {
  padding: 0 20px;
  margin: 50px auto 120px;
}
