@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

.navBar {
  width: 100%;
  height: 60px;
}

.footer {
  padding: 5rem 0;
  background: #014992;
  color: white;
}

.footer a {
  color: #fff;
  transition-duration: 0.2s;
  padding: 0;
}

.footer a:hover {
  color: #fa944b;
  text-decoration: none;
}

.footer h3 {
  text-align: center;
}

.footer h4 {
  margin-top: 3rem;
  letter-spacing: 1px;
}

.footer form {
  margin: 0 auto 4rem auto;
  width: 50%;
}

.formControl {
  border-radius: 0 !important;
}

form button {
  background: #6bb2ff !important;
  border-radius: 0 !important;
}

.iconFacebook:hover,
.iconLinkedin:hover,
.iconTwitter:hover {
  transform: rotate(360deg);
  transition: all 0.4s;
}
.iconFacebook:hover {
  background-color: #3b5998;
}

.iconLinkedin:hover {
  background-color: #007bb7;
}
.iconTwitter:hover {
  background-color: #1da1f2;
}

.iconFacebook:hover i,
.iconLinkedin:hover i,
.iconTwitter:hover i {
  color: #fff;
}

.socialCircle a {
  background-color: #f9f9f9;
  margin: 0 2% 0 2%;
  border-radius: 50%;
  padding: 4px 10px;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.socialCircle i {
  color: #595959;
}

.navBar {
  width: 100%;
  height: 60px;
  background: linear-gradient(
    90deg,
    rgba(0, 72, 145, 1) 0%,
    rgba(38, 120, 204, 1) 100%
  ) !important;
  overflow: auto;
  box-shadow: 0 0px 5px rgba(151, 153, 182, 0.034),
    0 5px 13px rgba(127, 124, 161, 0.048),
    0 12.5px 10px rgba(101, 92, 156, 0.06), 0 8px 12px rgba(59, 49, 92, 0.072),
    0 30px 22px rgba(40, 17, 126, 0.086), 0 100px 80px rgba(92, 78, 129, 0.12);
}

.navBar .navLink {
  color: #fff !important;
  float: right;
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 17px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.navBar .navLink:hover {
  color: #b0faff !important;
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 17px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.navSpaces {
  margin-right: 1.25rem;
}

.brandSpaces {
  width: 80%;
  margin-left: 50%;
}

.loginSpaces {
  width: 60%;
  margin-top: -0.6rem;
  margin-left: 0.6rem;
  display: inline-block;
}

.langSpaces {
  width: 65%;
  margin-top: -9px;
  margin-left: 10px;
  display: inline-block;
}

.rightMargin {
  margin-right: 2.5rem;
}
