@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

.footer {
  padding: 5rem 0;
  background: #014992;
  color: white;
}

.footer a {
  color: #fff;
  transition-duration: 0.2s;
  padding: 0;
}

.footer a:hover {
  color: #fa944b;
  text-decoration: none;
}

.footer h3 {
  text-align: center;
}

.footer h4 {
  margin-top: 3rem;
  letter-spacing: 1px;
}

.footer form {
  margin: 0 auto 4rem auto;
  width: 50%;
}

.formControl {
  border-radius: 0 !important;
}

form button {
  background: #6bb2ff !important;
  border-radius: 0 !important;
}

.iconFacebook:hover,
.iconLinkedin:hover,
.iconTwitter:hover {
  transform: rotate(360deg);
  transition: all 0.4s;
}
.iconFacebook:hover {
  background-color: #3b5998;
}

.iconLinkedin:hover {
  background-color: #007bb7;
}
.iconTwitter:hover {
  background-color: #1da1f2;
}

.iconFacebook:hover i,
.iconLinkedin:hover i,
.iconTwitter:hover i {
  color: #fff;
}

.socialCircle a {
  background-color: #f9f9f9;
  margin: 0 2% 0 2%;
  border-radius: 50%;
  padding: 4px 10px;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.socialCircle i {
  color: #595959;
}
